@page "/admin/users"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using JiraMinimal.Data
@implements IAsyncDisposable
@rendermode InteractiveServer
@inject IDbContextFactory<JiraContext> DbFactory

<PageTitle>Управление пользователями</PageTitle>
<h1>Список пользователей</h1>

<AuthorizeView Roles="Administrator">
    <p>
        <a href="/admin/users/create">Добавить пользователя</a>
    </p>
</AuthorizeView>

<QuickGrid Class="table" Items="userItems">
    <PropertyColumn Title="Email" Property="u => u.Email" />
    <PropertyColumn Title="ФИО" Property="u => u.FullName" />
    <PropertyColumn Title="Роль" Property="u => u.Role" />
    <PropertyColumn Title="Дата регистрации" Property="u => u.CreatedAt.ToShortDateString()" />
    <TemplateColumn Context="u">
        <a href="/admin/users/edit/@u.Id">Редактировать</a> |
        <a href="/admin/users/details/@u.Id">Просмотр</a> |
        <a href="/admin/users/delete/@u.Id">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private List<ApplicationUser> users = new();
    private IQueryable<ApplicationUser> userItems => users.AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        users = await context.Users.ToListAsync();
    }

    public async ValueTask DisposeAsync() { }
}